<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyectos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!--

    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/styles.css">
    -->
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #037971;">
        <a class="navbar-brand" href="home">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Proyectos
                          </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="proyectos">Proyectos</a>
                        <a class="dropdown-item" href="periodos">Período</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <img class="img-fluid" src="assets/images/Proyectos.jpg" alt="imgproyectos">
    <div class="content projects">
        <h1 class="bannerproyectos">Proyectos</h1>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">Proyectos</h2>
            <br>

            <!--Dropdowns  -->

            <div class="row">

                <div class="input-group col-6">
                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
                </div>

                <div class="col-3"></div>

                <div class="input-group col-3 dropsm">
                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <h4>Proyectos</h4>
            <br>


            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Verano 2019</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Otoño 2019</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Primavera 2020</a>
                </li>
            </ul>
            <br>
            <br>
            <div class="info-proyectos">
                <h2>Portal Vida digital Verano 2019</h2>
                <br>
                <div class="row">
                    <div class="col-6">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ducimus doloribus minus est dolorum molestias illo accusamus corrupti explicabo. In et, magni alias nisi molestias quisquam deleniti recusandae ratione quam!</p>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3">
                        <img class="img-fluid" src="assets/images/aboutPAP.jpg" alt="">
                    </div>
                </div>
                <!-- Multimedia -->
                <h4>Multimedia</h4>
                <br>
                <div class="row">
                    <div class="col-6">
                        <img class="img-fluid" src="assets/images/Vid.jpg" alt="">
                    </div>

                    <div class="col-6 row">
                        <div class="col-4">
                            <img class="img-fluid" src="assets/images/Vid.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="assets/images/Vid.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="assets/images/Vid.jpg" alt="">
                        </div>

                        <div class="col-4">
                            <img class="img-fluid" src="assets/images/Vid.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="assets/images/Vid.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="assets/images/Vid.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="assets/images/Vid.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="assets/images/Vid.jpg" alt="">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid" src="assets/images/Vid.jpg" alt="">
                        </div>
                    </div>
                    <!-- Tabla -->
                    <br>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>


        </div>
    </div>


    <footer>
        <a href="#" target="blank"><i class="fab fa-twitter"></i></a>
        <a href="#" target="blank"><i class="fab fa-instagram"></i></a>


        <h6>© 2019. Todos los derechos reservados.</h6>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>

</html>
<router-outlet></router-outlet>