<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portal PAP Vida Digital</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <!--
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/styles.css">
    -->
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #037971;">
        <a class="navbar-brand" href="home">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Proyectos
                          </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="proyectos">Proyectos</a>
                        <a class="dropdown-item" href="periodos">Período</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Login</a>
                </li>
            </ul>
        </div>
    </nav>


    <video autoplay muted loop poster id="videobg" src="assets/Trees - 24540.mp4">

    </video>
    <div class="content">
        <h1>PAP Vida Digital</h1>
        <p>Ciudades inteligentes</p>
        <a class="btn btn-primary btnmas" style="background-color: #037971;" href="#about" role="button">¡Conoce más!</a>
    </div>
    <div id="about" class="jumbotron jumbotron-fluid">
        <div class="container">


            <section>
                <br>
                <h2>Acerca del PAP</h2>
                <div class="row" id="acercadelpap">
                    <br>
                    <div class="col-lg" id="textoacercade">
                        <p>Es un PAP enfocado al diseño, desarrollo de aplicaciones, soporte de servicios web, y diseño, desarrollo y operación de redes de sensores y/o estaciones de monitoreo en el contexto de la vida digital en ciudades inteligentes, es
                            decir, resolviendo problemas reales profesionales que aporten un beneficio social, cultural, entretenimiento, etc. <br> <br> Se han desarrollado varias aplicaciones para dispositivos móviles, Se han desarrollado los servicios
                            web que son necesarios para la información que consumen las aplicaciones móviles. Se ha trabajado con el Internet de las cosas (IoT), en particular con redes de sensores (WNS) en el contexto de un Living-Lab como lo es el ITESO.
                            Se ha desarrollado una metodología de trabajo para lograr el éxito de los proyectos de aplicaciones a desarrollar.
                        </p>
                    </div>
                    <div class="col-lg" id="imgaboutpap">
                        <img src="assets/images/aboutPAP.jpg" class="img-fluid" alt=" aboutpap ">
                    </div>
                </div>
            </section>
            <br>
            <h2>Vida Digital</h2>
            <div>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, fugiat sint sapiente saepe porro voluptate repellendus id quibusdam autem temporibus architecto, molestiae minima exercitationem, eveniet quas sequi eius recusandae obcaecati.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, dolorem, adipisci officiis dicta voluptas optio eaque culpa unde, quaerat eos perferendis recusandae? Tempore quam esse consequuntur, dolores necessitatibus repellat
                    mollitia. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae dolorem, provident pariatur aliquam doloremque suscipit voluptates corrupti fuga, vero velit quo cumque doloribus, ipsum sint itaque amet corporis qui iure. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Veritatis unde, magni quisquam iure animi accusantium neque provident fuga saepe, commodi magnam optio at quis, ullam velit blanditiis quidem ea harum!</p>
                <img src="assets/images/Vida digital.jpg " class="img-fluid" alt=" ">
            </div>
            <br>
            <h2>Ciudades Inteligntes</h2>
            <div class="row " id="ciudades ">
                <div class="col-lg " id="imgciudades ">
                    <img src="assets/images/Ciudades  inteligentes.jpg" class="img-fluid" alt=" ciudades ">
                </div>
                <div class="col-lg " id="textociudades ">

                    <p>Recientemente el Banco Interamericano de Desarrollo (BID) decretó como zonas inteligentes a Maderas, en Querétaro; Ciudad Creativa y Tequila, en Jalisco; y Smart, en Puebla. Además, la firma tecnológica mexicana Netcity agrega a la
                        Ciudad de México, que aunque no es 100 por ciento inteligente, cuenta con diversas características que la están llevando a esa categoría. “El BID entiende que una ciudad inteligente es aquella que coloca a las personas en el centro
                        del desarrollo, incorpora tecnologías de la información y comunicación en la gestión urbana y usa estos elementos como herramientas para estimular la formación de un gobierno eficiente que incluya procesos de planificación colaborativa
                        y participación ciudadana”, dijo Mauricio Bouskela, especialista senior de vivienda y desarrollo urbano del BID.
                    </p>
                </div>
                <br>

            </div>
            <br>
            <div>
                <h2>internet de las cosas</h2>
                <p>La internet de las cosas (IoT, por sus siglas en inglés) es un sistema de dispositivos de computación interrelacionados, máquinas mecánicas y digitales, objetos, animales o personas que tienen identificadores únicos y la capacidad de transferir
                    datos a través de una red, sin requerir de interacciones humano a humano o humano a computadora. IoT ha evolucionado desde la convergencia de tecnologías inalámbricas, sistemas micro-electromecánicos (MEMS), microservicios e internet.
                    La convergencia ha ayudado a derribar las paredes de silos entre la tecnología operativa (OT) y la tecnología de la información (TI), permitiendo que los datos no estructurados generados por máquinas sean analizados para obtener información
                    que impulse mejoras.</p>
                <img src="assets/images/IoT.jpg " class="img-fluid" alt=" ">
            </div>

        </div>
    </div>
    <footer>
        <a href="#" target="blank"><i class="fab fa-twitter"></i></a>
        <a href="#" target="blank"><i class="fab fa-instagram"></i></a>


        <h6>© 2019. Todos los derechos reservados.</h6>
    </footer>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>
<router-outlet></router-outlet>
</html>